* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8bfc4;
}

.login-card {
  background-color: white;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  padding: 30px;
}

.small {
  text-decoration: none;
  color: #C0C0C0;
}

.btn_gradient {
  background: linear-gradient(to right, #f87171, #fbbf24);
  border: none;
  color: white;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-gradient:hover {
  opacity: 0.9;
}
.form-control{
  background-color: #e0f0ff;
}
.form-control:hover{
  background-color: antiquewhite;
}